.button {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 160px;
    text-align: "center";
    background-color: green;
   
}

.button:hover{
    filter: brightness(120%);
    cursor: pointer;
}