body{
  background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.App{
  background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
  overflow: hidden;


}
#to-do-form input{ 
  background-color: rgb(27,112,137);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
  margin: 20px;
  color:white;
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus{
  outline:none;
}
#to-do-form button{
  height: 50px;
  width:88px;
  border-radius: 5px;
  border: 0;
  background-color: #AA00FF;
  cursor: pointer;
  font-weight: bolder;
  color:white;
  outline: none;
  font-size: 16px;

}

#to-do-form h1{
  color: white;
  margin-left: 30%;
  padding: 10px;
}