.green {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: green;
    margin: auto;
  }
  .red {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: red;
    margin: auto;
  }
  